<div class="clean">
    <iframe src="https://www.shfsdvc.com/en/us/about?zid=15442&pid=0&custom1=SPOT_SALESFORCE&custom2=153258&custom3=TS-{campaign_id}&custom4=PUB_{src_hostname}&custom7=KW&custom8=a.vfghe.com&custom9=ab267e05-23a0-430a-bac4-772f7f629740" style="width: 300px; height: 250px; border: 0px solid; vertical-align: bottom;" scrolling="no"></iframe>

    <a href="https://t.affenhance.com/153258/3785/0?source=cyclic&bo=Array&target=domainredirects&pyt=multi&file_id=554091&po=6456" target="_blank"><img src="https://www.imglnkd.com/3785/010766A_GDAT_18_ALL_EN_71_L.gif" width="300" height="250" border="0" /></a>
</div>