<footer>
    <p>Link za Magroup ya WhatsApp na Telegram Mtandaoni</p>
    <p>Imeandaliwa kwa Upendo ❤ na Watengenezaji wa Maudhui Mtandaoni</p>
    <p>© Haki Zote Zimehifadhiwa <span id="yr"></span></p>
</footer>

<script>
    const yrFn = () => {
        let yr = new Date().getFullYear()
        document.getElementById('yr').innerText = yr
    }
    yrFn()
</script>