<header>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                Links za Magroup
                <span>Links za Magroup ya Telegram na WhatsApp Tanzania</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <b class="navbold">
                            <a href="/whatsapp#ngono">Group za WhatsApp za Ngono</a>
                        </b>
                    </li>
                    <li class="nav-item">
                        <b class="navbold">
                            <a href="/telegram#ngono">Group za Telegram za Ngono</a>
                        </b>
                    </li>
                    <li class="nav-item">
                        <b class="navbold">
                            <a href="/telegram#malaya">Group za Malaya Telegram</a>
                        </b>
                    </li>
                    <li class="nav-item">
                        <b class="navbold">
                            <a href="/whatsapp#malaya">Group za Malaya WhatsApp</a>
                        </b>
                    </li>
                    <li class="nav-item">
                        <b class="navbold">
                            <a href="/michezo">Group za Michezo Tanzania</a>
                        </b>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>