<div class="left">
    <ul>
        <li>
            <a href="/telegram">
                <i class="fa-brands fa-telegram"></i>
                Groups za Telegram Tanzania
            </a>
        </li>
        <li>
            <a href="/whatsapp">
                <i class="fa-brands fa-whatsapp"></i>
                Groups za WhatsApp Tanzania
            </a>
        </li>
        <li>
            <a href="/michezo">
                <i class="fa-regular fa-futbol"></i>
                Groups za Michezo (Simba & Yanga) Tanzania
            </a>
        </li>
    </ul>
</div>